<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.tapbackmessage</string>
	<key>connections</key>
	<dict>
		<key>03DA4ADC-66B8-4480-8B27-C5475A85EBAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65D81721-8666-4964-9111-19E507F75069</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>07F46614-4665-4259-859B-542A95D1EA76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CAB5022-2BEA-41B2-95A0-950873BB3FB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>08F9E404-E84A-4298-98D8-3101C9970B1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F2442AB-01B9-4839-931B-A3080CE22F99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>249D7D52-08A6-477A-9EF1-32A800E70E01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F2442AB-01B9-4839-931B-A3080CE22F99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2FE65821-D3D3-47B3-B3EC-52A2281AACCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9215ABBC-1563-4CEA-9DF8-6A8FAEA32E07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30D9E626-25E8-4C54-92BC-DEB9357EE26A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CAB5022-2BEA-41B2-95A0-950873BB3FB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4219A467-E637-439E-AC98-8063F5FE2128</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB709958-B680-4247-A1A7-A3FBEC709169</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5465C4AE-19CC-4275-A0DC-7CB19E9D3DD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB709958-B680-4247-A1A7-A3FBEC709169</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5CAB5022-2BEA-41B2-95A0-950873BB3FB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBBBF2FD-5F56-47E4-A991-31EE2A0AF5C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D8BB7FD-343C-425B-AD20-83CD314A2644</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB709958-B680-4247-A1A7-A3FBEC709169</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F2442AB-01B9-4839-931B-A3080CE22F99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB709958-B680-4247-A1A7-A3FBEC709169</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6061E1B0-F280-4BB6-A658-11F5D15757F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB709958-B680-4247-A1A7-A3FBEC709169</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74B5B784-AFA1-48C2-B896-5D24DB0437FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B578D37-604F-40A5-B293-CC97BEDE8447</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87F81062-CC3A-4011-86DC-DF931B4C05E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30D9E626-25E8-4C54-92BC-DEB9357EE26A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>07F46614-4665-4259-859B-542A95D1EA76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9215ABBC-1563-4CEA-9DF8-6A8FAEA32E07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87F81062-CC3A-4011-86DC-DF931B4C05E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B578D37-604F-40A5-B293-CC97BEDE8447</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03DA4ADC-66B8-4480-8B27-C5475A85EBAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5F2E6105-3776-4737-9611-5054CD41892F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B27B85A9-FCC6-4DC2-B820-882BE48B3FD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB709958-B680-4247-A1A7-A3FBEC709169</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C132ADBC-CE87-4DB3-AAA5-A09CD82ACBD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB709958-B680-4247-A1A7-A3FBEC709169</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EBBBF2FD-5F56-47E4-A991-31EE2A0AF5C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74B5B784-AFA1-48C2-B896-5D24DB0437FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB709958-B680-4247-A1A7-A3FBEC709169</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FE65821-D3D3-47B3-B3EC-52A2281AACCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Add a tapback reaction to the current message</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tapback Message</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>249D7D52-08A6-477A-9EF1-32A800E70E01</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>out_format</key>
					<string>bundle_id</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>2FE65821-D3D3-47B3-B3EC-52A2281AACCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>prev_app</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9215ABBC-1563-4CEA-9DF8-6A8FAEA32E07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>menubar_items</key>
					<string>{var:tapback_last}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.current.click.menubar.item</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>30D9E626-25E8-4C54-92BC-DEB9357EE26A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string></string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>74B5B784-AFA1-48C2-B896-5D24DB0437FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>⇥</string>
				<key>keycode</key>
				<integer>48</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>65D81721-8666-4964-9111-19E507F75069</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Applications/Messages.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>87F81062-CC3A-4011-86DC-DF931B4C05E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"6ce5914455c30777c1c6fc455bba5d21bc3d57cd.png","title":"Love","arg":"1","subtitle":""},{"imagefile":"55ee964892e38b02a0d1d1cb7d33b0fa6f52af82.png","title":"Like","arg":"2","subtitle":""},{"imagefile":"16a834c5d032d414dfefb0e0d3d0108e1eb69834.png","title":"Dislike","arg":"3","subtitle":""},{"imagefile":"029a3d38be2e23080d54ed864bf3fda4ab645290.png","title":"Laugh","arg":"4","subtitle":""},{"imagefile":"acd66da2870f1ce334a2bf3dc1f7f62d169cb1a1.png","title":"Emphasise","arg":"5","subtitle":""},{"imagefile":"536997e6985e2b50406af8abdcf612e85ead0be0.png","title":"Question","arg":"6","subtitle":""}]</string>
				<key>keyword</key>
				<string>{var:tapback_keyword}</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>{const:alfred_workflow_description}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>5F2442AB-01B9-4839-931B-A3080CE22F99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.MobileSMS</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>08F9E404-E84A-4298-98D8-3101C9970B1C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>03DA4ADC-66B8-4480-8B27-C5475A85EBAE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:prev_app}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>com.apple.MobileSMS</string>
						<key>outputlabel</key>
						<string>Switch to previous app</string>
						<key>uid</key>
						<string>5F2E6105-3776-4737-9611-5054CD41892F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>9B578D37-604F-40A5-B293-CC97BEDE8447</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>reaction</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FB709958-B680-4247-A1A7-A3FBEC709169</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:reaction}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EBBBF2FD-5F56-47E4-A991-31EE2A0AF5C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.{var:tapback_delay}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>5CAB5022-2BEA-41B2-95A0-950873BB3FB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>1</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.MobileSMS</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5465C4AE-19CC-4275-A0DC-7CB19E9D3DD5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>menubar_items</key>
					<string>{var:tapback_current}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.current.click.menubar.item</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>07F46614-4665-4259-859B-542A95D1EA76</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>2</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.MobileSMS</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6061E1B0-F280-4BB6-A658-11F5D15757F1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>3</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.MobileSMS</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5D8BB7FD-343C-425B-AD20-83CD314A2644</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>4</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.MobileSMS</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B27B85A9-FCC6-4DC2-B820-882BE48B3FD9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>5</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.MobileSMS</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4219A467-E637-439E-AC98-8063F5FE2128</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>6</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.MobileSMS</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C132ADBC-CE87-4DB3-AAA5-A09CD82ACBD9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage 

Send a tapback to the current message via the `tapback` keyword.

![List of possible tapback reactions](images/about/tapback.png)

![Messages conversation with reaction](images/about/messages.png)

Configure the [Hotkeys](https://www.alfredapp.com/help/workflows/triggers/hotkey/) for faster triggering.</string>
	<key>uidata</key>
	<dict>
		<key>03DA4ADC-66B8-4480-8B27-C5475A85EBAE</key>
		<dict>
			<key>xpos</key>
			<real>1360</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>07F46614-4665-4259-859B-542A95D1EA76</key>
		<dict>
			<key>note</key>
			<string>Tapback current</string>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>08F9E404-E84A-4298-98D8-3101C9970B1C</key>
		<dict>
			<key>note</key>
			<string>Show reactions when in Messages</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>249D7D52-08A6-477A-9EF1-32A800E70E01</key>
		<dict>
			<key>note</key>
			<string>Show reactions when in any app</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>2FE65821-D3D3-47B3-B3EC-52A2281AACCD</key>
		<dict>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>30D9E626-25E8-4C54-92BC-DEB9357EE26A</key>
		<dict>
			<key>note</key>
			<string>Tapback last</string>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>4219A467-E637-439E-AC98-8063F5FE2128</key>
		<dict>
			<key>note</key>
			<string>Emphasise</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>920</real>
		</dict>
		<key>5465C4AE-19CC-4275-A0DC-7CB19E9D3DD5</key>
		<dict>
			<key>note</key>
			<string>Love</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>5CAB5022-2BEA-41B2-95A0-950873BB3FB2</key>
		<dict>
			<key>note</key>
			<string>Give reactions panel time to show</string>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>5D8BB7FD-343C-425B-AD20-83CD314A2644</key>
		<dict>
			<key>note</key>
			<string>Disklike</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>5F2442AB-01B9-4839-931B-A3080CE22F99</key>
		<dict>
			<key>note</key>
			<string>List reactions</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>6061E1B0-F280-4BB6-A658-11F5D15757F1</key>
		<dict>
			<key>note</key>
			<string>Like</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>65D81721-8666-4964-9111-19E507F75069</key>
		<dict>
			<key>xpos</key>
			<real>1445</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>74B5B784-AFA1-48C2-B896-5D24DB0437FD</key>
		<dict>
			<key>xpos</key>
			<real>1115</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>87F81062-CC3A-4011-86DC-DF931B4C05E2</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>9215ABBC-1563-4CEA-9DF8-6A8FAEA32E07</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>9B578D37-604F-40A5-B293-CC97BEDE8447</key>
		<dict>
			<key>xpos</key>
			<real>1275</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>B27B85A9-FCC6-4DC2-B820-882BE48B3FD9</key>
		<dict>
			<key>note</key>
			<string>Laugh</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>C132ADBC-CE87-4DB3-AAA5-A09CD82ACBD9</key>
		<dict>
			<key>note</key>
			<string>Question</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>1060</real>
		</dict>
		<key>EBBBF2FD-5F56-47E4-A991-31EE2A0AF5C5</key>
		<dict>
			<key>note</key>
			<string>Load reaction number</string>
			<key>xpos</key>
			<real>1015</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>FB709958-B680-4247-A1A7-A3FBEC709169</key>
		<dict>
			<key>note</key>
			<string>Save reaction number</string>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>tapback</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to see reactions list.</string>
			<key>label</key>
			<string>Tapback Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>tapback_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>2</integer>
				<key>markercount</key>
				<integer>9</integer>
				<key>maxvalue</key>
				<integer>9</integer>
				<key>minvalue</key>
				<integer>1</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Tenths of a second to wait before selecting a reaction. Increase if your Mac needs more time to play the animation.</string>
			<key>label</key>
			<string>Tapback Delay</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>tapback_delay</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Edit
Tapback Last Message…</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Tapback Last Menu</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>tapback_last</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Edit
Tapback Message…</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>Change if your system is not in English and the items under "Edit" have different names.</string>
			<key>label</key>
			<string>Tapback Current Menu</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>tapback_current</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2024.2</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/tapback-message-workflow/</string>
</dict>
</plist>
